body{
    background-color: rgba(168, 168, 168, 0.5);
}

img{
    height: 75px;
    width: 75px;
}

.editarPropiedad{
    border-bottom: solid rgb(100, 115, 197) 2px;
}

.formulario1{
    border-bottom: solid rgb(100, 115, 197) 2px;
}

.formulario{
    margin: 25px;
}


.galeriaCabecera{
    margin: 10px;
}