/*
	@name flujos_inmobiliaria
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px;  margin-left: auto; margin-right: auto;  }

#_bg___2_nueva_propiedad_vista_agente_inmobiliario {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 3215px;
	background:rgba(255,255,255,1);
}

#footer {
	top: 2647px;
	left: 0px;
	width: 1920px;
	height: 568px;
}
#group_7 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 11px;
}

#rectangle {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 11px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
	background: -moz-linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
}

#copyright {
	top: 486.08px;
	left: px;
	width: 1920px;
	height: 81.92px;
}

#base_background {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 81.92px;
	background:rgba(0,0,0,1);
}


#title {
	top: 14px;
	left: 745px;
	width: 444px;
	height: 48px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 20px;
	text-align: left;
	line-height: 34.000000953674px;
	color:#FFFFFF;
}

#our_address {
	top: 56px;
	left: 1415px;
	width: 333px;
	height: 280px;
}

#french_450_resistencia__chaco___argentina {
	top: 85px;
	left: 0px;
	width: 321.33px;
	height: 93.99px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}

#social_media {
	top: 213px;
	left: 5px;
	width: 328px;
	height: 67px;
}
#button___normal_icon {
	top: 11.5px;
	left: 0px;
	width: 44px;
	height: 44px;
}
#normal_icon {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
}

#base_background_ek1 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
	-ms-border-radius: 22px / 22px;
	-o-border-radius: 22px / 22px;
	-moz-border-radius: 22px / 22px;
	-webkit-border-radius: 22px / 22px;
	border-radius: 22px / 22px;
	background:rgba(51,51,51,1);
}

#icons___facebook {
	top: 10px;
	left: 10px;
	width: 24px;
	height: 24px;
}

#brand___facebook {
	top: 2px;
	left: 2px;
	width: 20px;
	height: 19.88px;
}

#button___normal_icon_ek1 {
	top: 11.5px;
	left: 68px;
	width: 44px;
	height: 44px;
}
#normal_icon_ek1 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
}

#base_background_ek2 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
	-ms-border-radius: 22px / 22px;
	-o-border-radius: 22px / 22px;
	-moz-border-radius: 22px / 22px;
	-webkit-border-radius: 22px / 22px;
	border-radius: 22px / 22px;
	background:rgba(51,51,51,1);
}

#icons___instagram {
	top: 10px;
	left: 10px;
	width: 24px;
	height: 24px;
}

#brand___instagram {
	top: 3.01px;
	left: 3px;
	width: 18.01px;
	height: 18.04px;
}

#button___normal_icon_ek2 {
	top: 11.5px;
	left: 136px;
	width: 44px;
	height: 44px;
}
#normal_icon_ek2 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
}

#base_background_ek3 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
	-ms-border-radius: 22px / 22px;
	-o-border-radius: 22px / 22px;
	-moz-border-radius: 22px / 22px;
	-webkit-border-radius: 22px / 22px;
	border-radius: 22px / 22px;
	background:rgba(51,51,51,1);
}

#icons__twitter {
	top: 10px;
	left: 10px;
	width: 24px;
	height: 24px;
}

#brand___twitter {
	top: 4px;
	left: 1.54px;
	width: 20.92px;
	height: 17px;
}

#button___normal_icon_ek3 {
	top: 11.5px;
	left: 204px;
	width: 44px;
	height: 44px;
}
#normal_icon_ek3 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
}

#base_background_ek4 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
	-ms-border-radius: 22px / 22px;
	-o-border-radius: 22px / 22px;
	-moz-border-radius: 22px / 22px;
	-webkit-border-radius: 22px / 22px;
	border-radius: 22px / 22px;
	background:rgba(51,51,51,1);
}

#icons___youtube {
	top: 10px;
	left: 10px;
	width: 24px;
	height: 24px;
}

#brand___youtube {
	top: 5px;
	left: 1.99px;
	width: 20.01px;
	height: 14.01px;
}


#nuestra_direcci_n {
	top: 0px;
	left: 0px;
	width: 325px;
	height: 66px;
	overflow: hidden;
	font-family: Khula;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 38.999998569489px;
	color:#3D3D3D;
}

#contactos {
	top: 56px;
	left: 993px;
	width: 392px;
	height: 305px;
}

#contactanos_via_web {
	top: 96px;
	left: 0px;
	width: 227px;
	height: 76.63px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#tel__362_4665582 {
	top: 166px;
	left: 0px;
	width: 246px;
	height: 76.63px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#email__info_inmobiliariadomus_com_ar {
	top: 243px;
	left: 0px;
	width: 408px;
	height: 77px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#contacto {
	top: 0px;
	left: 0px;
	width: 241px;
	height: 92.11px;
	overflow: hidden;
	font-family: Khula;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 38.999998569489px;
	color:#3D3D3D;
}

#payment {
	top: 49px;
	left: 122px;
	width: 413px;
	height: 326px;
}
#form_elements___logo {
	top: 0px;
	left: 7px;
	width: 379px;
	height: 158.94px;
}

#logo3_2 {
	top: 0px;
	left: 0px;
	width: 340px;
	height: 118px;
}


#nos_comprometemos_a_materializar_el_hogar_de_sus_sue_os {
	top: 171px;
	left: 0px;
	width: 429px;
	height: 106px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}

#payments {
	top: 278px;
	left: 7px;
	width: 326px;
	height: 47.57px;
}
#paypal {
	top: 6.28px;
	left: 0px;
	width: 92px;
	height: 35px;
}
#group_6 {
	top: 5.83px;
	left: px;
	width: 92px;
	height: 24.79px;
}

#vector {
	top: 0px;
	left: 0px;
	width: 51.28px;
	height: 24.79px;
}


#vector_ek1 {
	top: 0px;
	left: 51px;
	width: 40.96px;
	height: 20.42px;
}

#visa {
	top: 6.28px;
	left: 116px;
	width: 75px;
	height: 35px;
}
#group_7_ek1 {
	top: 5.83px;
	left: 0px;
	width: 75px;
	height: 24.79px;
}

#polygon9 {
	top: 0px;
	left: 26px;
	width: 9.88px;
	height: 24px;
}


#path11 {
	top: 0px;
	left: 36px;
	width: 18.22px;
	height: 24.79px;
}


#path13 {
	top: 0px;
	left: 53px;
	width: 21.8px;
	height: 24px;
}


#path15 {
	top: 0px;
	left: 6px;
	width: 21.42px;
	height: 23.97px;
}


#path17 {
	top: 0px;
	left: 0px;
	width: 14.75px;
	height: 13.05px;
}

#mastercard {
	top: 6.28px;
	left: 215px;
	width: 51px;
	height: 35px;
}
#group_8 {
	top: 0px;
	left: 0px;
	width: 51px;
	height: 35px;
}
#group {
	top: 0px;
	left: 0px;
	width: 51px;
	height: 35px;
}

#vector_ek2 {
	top: 0px;
	left: 0px;
	width: 51px;
	height: 35px;
}


#vector_ek3 {
	top: 6px;
	left: 19px;
	width: 13.45px;
	height: 22.8px;
}


#vector_ek4 {
	top: 3px;
	left: 3px;
	width: 22.61px;
	height: 29px;
}


#vector_ek5 {
	top: 26px;
	left: 47px;
	width: 1.16px;
	height: 0.56px;
}


#vector_ek6 {
	top: 3px;
	left: 26px;
	width: 22.61px;
	height: 29px;
}

#about {
	top: 56px;
	left: 621px;
	width: 231px;
	height: 319px;
}

#m_todos_de_pago {
	top: 98px;
	left: 0px;
	width: 208px;
	height: 93.94px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#nuestro_equipo {
	top: 240px;
	left: 0px;
	width: 247px;
	height: 93.94px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#sobre_nosotros {
	top: 0px;
	left: 0px;
	width: 241px;
	height: 111.74px;
	overflow: hidden;
	font-family: Khula;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 38.999998569489px;
	color:#3D3D3D;
}


#t_rminos_y_condiciones {
	top: 171px;
	left: 0px;
	width: 247px;
	height: 93.94px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}

#seccion1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 2647px;
}
#object {
	top: -1px;
	left: 0px;
	width: 1920px;
	height: 1022px;
}

#pexels_photo_1732414_1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 843.73px;
}


#etienne_beauregard_riverin_b0acvavsx8e_unsplash_ek1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1022px;
}


#etienne_beauregard_riverin_b0acvavsx8e_unsplash_ek2 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1022px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
	background: -o-linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
	background: -moz-linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
	background: -ms-linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
	background: linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
}

#listings {
	top: 794px;
	left: 50px;
	width: 1820px;
	height: 485px;
}

#find_your_next_place {
	top: 16px;
	left: 2px;
	width: 1014.84px;
	height: 100px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 50px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}

#group_7_ek2 {
	top: 81px;
	left: -495px;
	width: 1282.5px;
	height: 12.76px;
}

#rectangle_ek1 {
	top: 0px;
	left: 0px;
	width: 1282.5px;
	height: 12.76px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
	background: linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
}

#frame_10 {
	top: 151px;
	left: 103px;
	width: 585px;
	height: 67px;
}

#find_your_next_place_ek1 {
	top: 10px;
	left: 10px;
	width: 588px;
	height: 72px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 36px;
	text-align: left;
	color:#FFFFFF;
}

#search {
	top: 276px;
	left: 0px;
	width: 623px;
	height: 105px;
}
#buttons {
	top: 12px;
	left: 109px;
	width: 93px;
	height: 81px;
}
#frame {
	top: 0px;
	left: -106px;
	width: 305px;
	height: 81px;
}

#nombre_de__la_propiedad {
	top: 7px;
	left: -110px;
	width: 426px;
	height: 84px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	letter-spacing: 2.4000000953674px;
	color:#FFFFFF;
}

#__base_forms_01__input_02__default {
	top: 21px;
	left: 210px;
	width: 413px;
	height: 63px;
}
#text___cursor {
	top: -1.5px;
	left: 12px;
	width: 389px;
	height: 66px;
}

#text {
	top: 21px;
	left: 0px;
	width: 506px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#6C757D;
}

#__base_cursor {
	top: 3px;
	left: 80px;
	width: 1px;
	height: 18px;
}
#icon {
	top: -5.5px;
	left: 611px;
	width: 16px;
	height: 24px;
}
#check {
	top: 4px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#vector_ek7 {
	top: 3.5px;
	left: 2.5px;
	width: 11.5px;
	height: 8px;
}

#search_ek1 {
	top: 276px;
	left: 637px;
	width: 382px;
	height: 105px;
}
#buttons_ek1 {
	top: 12px;
	left: 36px;
	width: 65px;
	height: 81px;
}
#frame_ek1 {
	top: 0px;
	left: -64px;
	width: 193px;
	height: 81px;
}

#precio {
	top: 24px;
	left: 19px;
	width: 117px;
	height: 49px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	letter-spacing: 2.4000000953674px;
	color:#FFFFFF;
}

#__base_forms_01__input_02__default_ek1 {
	top: 21px;
	left: 109px;
	width: 273px;
	height: 63px;
}
#text___cursor_ek1 {
	top: -1.5px;
	left: 12px;
	width: 249px;
	height: 66px;
}

#text_ek1 {
	top: 21px;
	left: 0px;
	width: 506px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#6C757D;
}

#__base_cursor_ek1 {
	top: 3px;
	left: 80px;
	width: 1px;
	height: 18px;
}
#icon_ek1 {
	top: -5.5px;
	left: 611px;
	width: 16px;
	height: 24px;
}
#check_ek1 {
	top: 4px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#vector_ek8 {
	top: 3.5px;
	left: 2.5px;
	width: 11.5px;
	height: 8px;
}

#search_ek2 {
	top: 276px;
	left: 1030px;
	width: 281px;
	height: 105px;
}
#buttons_ek2 {
	top: 12px;
	left: 6px;
	width: 65px;
	height: 81px;
}
#frame_ek2 {
	top: 0px;
	left: -20px;
	width: 105px;
	height: 81px;
}

#a_o {
	top: 24px;
	left: -4px;
	width: 112px;
	height: 49px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	letter-spacing: 2.4000000953674px;
	color:#FFFFFF;
}

#__base_forms_01__input_02__default_ek2 {
	top: 21px;
	left: 79px;
	width: 202px;
	height: 63px;
}
#text___cursor_ek2 {
	top: -1.5px;
	left: 12px;
	width: 178px;
	height: 66px;
}

#text_ek2 {
	top: 21px;
	left: 0px;
	width: 506px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#6C757D;
}

#__base_cursor_ek2 {
	top: 3px;
	left: 80px;
	width: 1px;
	height: 18px;
}
#icon_ek2 {
	top: -5.5px;
	left: 611px;
	width: 16px;
	height: 24px;
}
#check_ek2 {
	top: 4px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#vector_ek9 {
	top: 3.5px;
	left: 2.5px;
	width: 11.5px;
	height: 8px;
}

#__base_forms_01__input_02__default_ek3 {
	top: 344px;
	left: 1477px;
	width: 200px;
	height: 130px;
}
#text___cursor_ek3 {
	top: 0px;
	left: 12px;
	width: 176px;
	height: 130px;
}

#text_ek3 {
	top: 17px;
	left: 0px;
	width: 506px;
	height: 113px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	line-height: 34.5px;
	color:#6C757D;
}

#__base_cursor_ek3 {
	top: 67px;
	left: 80px;
	width: 1px;
	height: 18px;
}
#icon_ek3 {
	top: 78.5px;
	left: 575px;
	width: 16px;
	height: 24px;
}
#check_ek3 {
	top: 4px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#vector_ek10 {
	top: 3.5px;
	left: 2.5px;
	width: 11.5px;
	height: 8px;
}

#search_ek3 {
	top: 276px;
	left: 1333px;
	width: 382px;
	height: 105px;
}
#buttons_ek3 {
	top: 12px;
	left: 16px;
	width: 85px;
	height: 81px;
}
#frame_ek3 {
	top: 0px;
	left: -60.5px;
	width: 206px;
	height: 81px;
}

#estado {
	top: 24px;
	left: 30px;
	width: 125px;
	height: 49px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 32px;
	letter-spacing: 2.4000000953674px;
	color:#FFFFFF;
}

#__base_forms_01__input_02__default_ek4 {
	top: 21px;
	left: 109px;
	width: 273px;
	height: 63px;
}
#text___cursor_ek4 {
	top: -1.5px;
	left: 12px;
	width: 223.85px;
	height: 66px;
}
#__base_cursor_ek4 {
	top: 24px;
	left: 0px;
	width: 1px;
	height: 18px;
}

#text_ek4 {
	top: 21px;
	left: 0px;
	width: 506px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#6C757D;
}

#arrow_down_1 {
	top: 25.38px;
	left: 235.85px;
	width: 25.15px;
	height: 12.23px;
}

#path {
	top: 0px;
	left: 0px;
	width: 25.15px;
	height: 12.23px;
}


#ellipse_106 {
	opacity:0;
	top: 642px;
	left: 30px;
	width: 76px;
	height: 76px;
	-ms-border-radius: 38px / 38px;
	-o-border-radius: 38px / 38px;
	-moz-border-radius: 38px / 38px;
	-webkit-border-radius: 38px / 38px;
	border-radius: 38px / 38px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(112,198,219,0);
}


#expand_more {
	top: 748px;
	left: 69px;
	width: 26.13px;
	height: 15.44px;
}

#nav {
	top: 32px;
	left: 150px;
	width: 1621px;
	height: 75px;
}
#group_6_ek1 {
	top: 0px;
	left: 1320px;
	width: 266px;
	height: 75px;
}

#rectangle_ek2 {
	top: 0px;
	left: 0px;
	width: 270px;
	height: 79px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	border: 2px solid #000000;
	background:rgba(255,255,255,1);
}

#group_5 {
	top: 9px;
	left: 31px;
	width: 216px;
	height: 56px;
}

#work_with_us {
	top: 0px;
	left: -1px;
	width: 183px;
	height: 70px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#70C6DB;
}

#people_circle {
	top: 2px;
	left: 141px;
	width: 52px;
	height: 52px;
}

#vector_ek11 {
	top: 32.5px;
	left: 8.23px;
	width: 35.54px;
	height: 16.25px;
}


#vector_ek12 {
	top: 9.75px;
	left: 16.25px;
	width: 19.5px;
	height: 19.5px;
}


#vector_ek13 {
	top: px;
	left: 0px;
	width: 52px;
	height: 52px;
}


#nav_link {
	top: 24px;
	left: 1006px;
	width: 226px;
	height: 40px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#nav_link_ek1 {
	top: 26px;
	left: 827px;
	width: 139px;
	height: 40px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#nav_link_ek2 {
	top: 25px;
	left: 579px;
	width: 208px;
	height: 40px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#nav_link_ek3 {
	top: 25px;
	left: 404px;
	width: 135px;
	height: 40px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#logo3_1 {
	top: 0px;
	left: 0px;
	width: 233px;
	height: 75px;
}

#group_6_ek2 {
	top: 2549px;
	left: 827px;
	width: 266px;
	height: 75px;
}

#rectangle_ek3 {
	top: 0px;
	left: 0px;
	width: 270px;
	height: 79px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	border: 2px solid #000000;
	background:rgba(112,198,219,1);
}

#group_5_ek1 {
	top: 9px;
	left: 31px;
	width: 216px;
	height: 56px;
}

#work_with_us_ek1 {
	top: -6px;
	left: 46px;
	width: 141px;
	height: 86px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}



/* Add your custom CSS here */
