/*
	@name flujos_inmobiliaria
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px;  margin-left: auto; margin-right: auto;  }

#_bg___1_catalogo_propiedades_vista_cliente {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 2647px;
	background:rgba(255,255,255,1);
}

#seccion1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 2647px;
}
#object {
	top: -1px;
	left: 0px;
	width: 1920px;
	height: 1232px;
}

#pexels_photo_1732414_1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1017.1px;
}


#etienne_beauregard_riverin_b0acvavsx8e_unsplash_ek1 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1232px;
}


#etienne_beauregard_riverin_b0acvavsx8e_unsplash_ek2 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1232px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
	background: -o-linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
	background: -moz-linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
	background: -ms-linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
	background: linear-gradient(-86.597362136274deg , rgba(255,255,255,1) 0%, rgba(0,0,0,0.37) 28%, rgba(69.06,69.06,69.06,1) 85%, rgba(90.31,90.31,90.31,0.53) 100%);
}

#cards {
	top: 1376px;
	left: 65px;
	width: 1790px;
	height: 1187px;
}
#pagination {
	top: 1101px;
	left: 698px;
	width: 393px;
	height: 71px;
}
#__base_pagination_02__default_01__default {
	top: 0px;
	left: -3px;
	width: 99px;
	height: 71px;
}
#__base {
	top: -10.5px;
	left: 0.5px;
	width: 98px;
	height: 92px;
}
#containter {
	top: 34px;
	left: 45px;
	width: 8px;
	height: 24px;
}
#l_icon {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#vector {
	top: 5.25px;
	left: 5.25px;
	width: 13.5px;
	height: 13.5px;
}


#text {
	top: 0px;
	left: -4px;
	width: 25px;
	height: 41px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 24px;
	text-decoration: underline;
	text-align: center;
	color:#70C6DB;
}

#r_icon {
	top: 0px;
	left: 56px;
	width: 24px;
	height: 24px;
}

#vector_ek1 {
	top: 5.25px;
	left: 5.25px;
	width: 13.5px;
	height: 13.5px;
}

#__base_pagination_02__default_01__default_ek1 {
	top: 0px;
	left: 96px;
	width: 97px;
	height: 71px;
}
#__base_ek1 {
	top: 1px;
	left: 0.5px;
	width: 96px;
	height: 69px;
}
#containter_ek1 {
	top: 22.5px;
	left: 41px;
	width: 14px;
	height: 24px;
}
#l_icon_ek1 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#vector_ek2 {
	top: 5.25px;
	left: 5.25px;
	width: 13.5px;
	height: 13.5px;
}


#text_ek1 {
	top: 0px;
	left: -4px;
	width: 31px;
	height: 41px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 24px;
	text-align: center;
	color:#70C6DB;
}

#r_icon_ek1 {
	top: 0px;
	left: 56px;
	width: 24px;
	height: 24px;
}

#vector_ek3 {
	top: 5.25px;
	left: 5.25px;
	width: 13.5px;
	height: 13.5px;
}

#__base_pagination_02__default_01__default_ek2 {
	top: 0px;
	left: 193px;
	width: 94px;
	height: 71px;
}
#__base_ek2 {
	top: -16.5px;
	left: 1.5px;
	width: 91px;
	height: 104px;
}
#containter_ek2 {
	top: 40px;
	left: 38px;
	width: 15px;
	height: 24px;
}
#l_icon_ek2 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#vector_ek4 {
	top: 5.25px;
	left: 5.25px;
	width: 13.5px;
	height: 13.5px;
}


#text_ek2 {
	top: 0px;
	left: -4px;
	width: 32px;
	height: 41px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 24px;
	text-align: center;
	color:#70C6DB;
}

#r_icon_ek2 {
	top: 0px;
	left: 56px;
	width: 24px;
	height: 24px;
}

#vector_ek5 {
	top: 5.25px;
	left: 5.25px;
	width: 13.5px;
	height: 13.5px;
}

#__base_pagination_02__default_01__default_ek3 {
	top: 0px;
	left: 287px;
	width: 109px;
	height: 71px;
}
#__base_ek3 {
	top: -8px;
	left: -1.5px;
	width: 112px;
	height: 87px;
}
#containter_ek3 {
	top: 31.5px;
	left: 50.5px;
	width: 11px;
	height: 24px;
}
#l_icon_ek3 {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
}

#vector_ek6 {
	top: 5.25px;
	left: 5.25px;
	width: 13.5px;
	height: 13.5px;
}


#text_ek3 {
	top: 0px;
	left: -4px;
	width: 28px;
	height: 41px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 24px;
	text-align: center;
	color:#70C6DB;
}

#r_icon_ek3 {
	top: 0px;
	left: 56px;
	width: 24px;
	height: 24px;
}

#vector_ek7 {
	top: 5.25px;
	left: 5.25px;
	width: 13.5px;
	height: 13.5px;
}


#rectangle {
	top: 0px;
	left: 0px;
	width: 336px;
	height: 418px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background:rgba(255,255,255,1);
}

#grid_artboard_2 {
	top: 376px;
	left: 258px;
	width: 36px;
	height: 22px;
}
#grid_artboard {
	top: 3px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#path {
	top: 0px;
	left: 4px;
	width: 1.33px;
	height: 3px;
}


#path_ek1 {
	top: 4px;
	left: 0px;
	width: 3px;
	height: 1.33px;
}


#path_ek2 {
	top: 11px;
	left: 0px;
	width: 3px;
	height: 1.33px;
}


#path_ek3 {
	top: 0px;
	left: 11px;
	width: 1.33px;
	height: 3px;
}


#path_ek4 {
	top: 13px;
	left: 4px;
	width: 1.33px;
	height: 3px;
}


#path_ek5 {
	top: 13px;
	left: 11px;
	width: 1.33px;
	height: 3px;
}


#path_ek6 {
	top: 4px;
	left: 13px;
	width: 3px;
	height: 1.33px;
}


#path_ek7 {
	top: 11px;
	left: 13px;
	width: 3px;
	height: 1.33px;
}


#shape {
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
}


#_2 {
	top: 0px;
	left: 26px;
	width: 23.5px;
	height: 33.5px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}

#bedroom {
	top: 376px;
	left: 39px;
	width: 35px;
	height: 22px;
}
#hotel_single_bed_1 {
	top: 5.5px;
	left: px;
	width: 14px;
	height: 10.66px;
}

#path_ek8 {
	top: 0px;
	left: 1px;
	width: 12.09px;
	height: 3.02px;
}


#path_ek9 {
	top: 4px;
	left: 0px;
	width: 14px;
	height: 6.68px;
}


#_4 {
	top: 0px;
	left: 24px;
	width: 24.5px;
	height: 33.5px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}

#bedroom_ek1 {
	top: 376px;
	left: 150px;
	width: 36px;
	height: 22px;
}

#_2_ek1 {
	top: 0px;
	left: 26px;
	width: 23.5px;
	height: 33.5px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 17px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}

#bathroom_tub_towel {
	top: 2px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#shape_ek1 {
	top: 0px;
	left: 0px;
	width: 16px;
	height: 16px;
}


#path_ek10 {
	top: 2px;
	left: 5px;
	width: 2.55px;
	height: 1.89px;
}


#path_ek11 {
	top: 5px;
	left: 9px;
	width: 1.85px;
	height: 2.55px;
}


#path_ek12 {
	top: 4px;
	left: 7px;
	width: 2.27px;
	height: 2.26px;
}


#malto_house {
	top: 296px;
	left: 30px;
	width: 73px;
	height: 48px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	color:#000000;
}


#house_example_3 {
	top: 0px;
	left: 0px;
	width: 336px;
	height: 266px;
}


#rectangle_ek1 {
	top: 357px;
	left: 0px;
	width: 336px;
	height: 1px;
	background:rgba(227.64,227.64,227.64,1);
}


#rectangle_ek2 {
	top: 358px;
	left: 112px;
	width: 1px;
	height: 60px;
	background:rgba(227.64,227.64,227.64,1);
}


#rectangle_ek3 {
	top: 358px;
	left: 225px;
	width: 1px;
	height: 60px;
	background:rgba(227.64,227.64,227.64,1);
}

#listings {
	top: 794px;
	left: 50px;
	width: 1820px;
	height: 505px;
}
#filter {
	top: 337.75px;
	left: 67px;
	width: 1687px;
	height: 107.91px;
}

#rectangle_ek4 {
	top: 0px;
	left: 0px;
	width: 1687px;
	height: 107.91px;
	-ms-border-radius: 25px;
	-o-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 0px solid #979797;
	-ms-box-shadow:0px 4px 58px 1px rgba(0,0,0,0.25);
	-o-box-shadow:0px 4px 58px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:0px 4px 58px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:0px 4px 58px 1px rgba(0,0,0,0.25);
	box-shadow:0px 4px 58px 1px rgba(0,0,0,0.25);
	background:rgba(255,255,255,1);
}

#group_8 {
	top: 35px;
	left: 47px;
	width: 336px;
	height: 38.85px;
}

#looking_for {
	top: 2px;
	left: 0px;
	width: 286px;
	height: 60px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 30px;
	text-align: left;
	color:#000000;
}

#arrow_down_1 {
	top: 12.76px;
	left: 298.71px;
	width: 35.84px;
	height: 12.74px;
}

#path_ek13 {
	top: 0px;
	left: 0px;
	width: 35.84px;
	height: 12.74px;
}

#group_8_ek1 {
	top: 35px;
	left: 486px;
	width: 283px;
	height: 38.85px;
}

#location {
	top: 2px;
	left: 0px;
	width: 234.58px;
	height: 60px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 30px;
	text-align: left;
	color:#000000;
}

#arrow_down_1_ek1 {
	top: 12.76px;
	left: 245.72px;
	width: 35.83px;
	height: 12.74px;
}

#path_ek14 {
	top: 0px;
	left: 0px;
	width: 35.83px;
	height: 12.74px;
}

#group_8_ek2 {
	top: 38px;
	left: 892px;
	width: 336px;
	height: 31.29px;
}

#property_type {
	top: -2px;
	left: 0px;
	width: 303.34px;
	height: 60px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 30px;
	text-align: left;
	color:#000000;
}

#arrow_down_1_ek2 {
	top: 10.28px;
	left: 305.94px;
	width: 28.89px;
	height: 10.26px;
}

#path_ek15 {
	top: 0px;
	left: 0px;
	width: 28.89px;
	height: 10.26px;
}

#group_8_ek3 {
	top: 35px;
	left: 1342px;
	width: 193px;
	height: 38.85px;
}

#price {
	top: 2px;
	left: 0px;
	width: 147.63px;
	height: 60px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 30px;
	text-align: left;
	color:#000000;
}

#arrow_down_1_ek3 {
	top: 12.76px;
	left: 155.69px;
	width: 35.86px;
	height: 12.74px;
}

#path_ek16 {
	top: 0px;
	left: 0px;
	width: 35.86px;
	height: 12.74px;
}


#rectangle_ek5 {
	top: 0px;
	left: 421px;
	width: 1.58px;
	height: 107.91px;
	border: 0px solid #979797;
	background:rgba(227.64,227.64,227.64,1);
}


#rectangle_ek6 {
	top: 0px;
	left: 844px;
	width: 1.58px;
	height: 107.91px;
	border: 0px solid #979797;
	background:rgba(227.64,227.64,227.64,1);
}


#rectangle_ek7 {
	top: 0px;
	left: 1266px;
	width: 1.58px;
	height: 107.91px;
	border: 0px solid #979797;
	background:rgba(227.64,227.64,227.64,1);
}


#find_your_next_place {
	top: 26px;
	left: 2px;
	width: 1014.84px;
	height: 100px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 50px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}

#group_7 {
	top: 91px;
	left: -515px;
	width: 1282.5px;
	height: 13.29px;
}

#rectangle_ek8 {
	top: 0px;
	left: 0px;
	width: 1282.5px;
	height: 13.29px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
	background: linear-gradient(-180deg , rgba(112,198,219,1) 71%, rgba(255,255,255,1) 100%);
}


#find_your_next_place_ek1 {
	top: 161px;
	left: 113px;
	width: 571px;
	height: 72px;
	overflow: hidden;
	font-family: DM Sans;
	font-size: 36px;
	text-align: left;
	color:#FFFFFF;
}

#search {
	top: 136px;
	left: 878px;
	width: 820px;
	height: 105px;
}
#__base_forms_01__input_02__default {
	top: 13.5px;
	left: 30px;
	width: 584px;
	height: 78px;
}
#text___cursor {
	top: 6px;
	left: 12px;
	width: 560px;
	height: 66px;
}

#text_ek4 {
	top: 21px;
	left: 0px;
	width: 506px;
	height: 41px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: left;
	color:#6C757D;
}

#__base_cursor {
	top: 3px;
	left: 80px;
	width: 1px;
	height: 18px;
}
#icon {
	top: -6px;
	left: 611px;
	width: 16px;
	height: 24px;
}
#check {
	top: 4px;
	left: 0px;
	width: 16px;
	height: 16px;
}

#vector_ek8 {
	top: 3.5px;
	left: 2.5px;
	width: 11.5px;
	height: 8px;
}

#buttons {
	top: 26px;
	left: 622px;
	width: 198px;
	height: 53px;
}
#frame {
	top: 0px;
	left: 0px;
	width: 198px;
	height: 53px;
}

#rectangle_ek9 {
	top: 0px;
	left: 0px;
	width: 206px;
	height: 61px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	border: 4px solid #70c6db;
	background:rgba(255,255,255,0);
}


#buscar {
	top: 0px;
	left: -47px;
	width: 309px;
	height: 70px;
	overflow: hidden;
	font-family: Roboto;
	font-size: 24px;
	text-align: center;
	line-height: 53px;
	letter-spacing: 2.4000000953674px;
	color:#FFFFFF;
}

#footer {
	background-color: #70C6DB;
	top: 2647px;
	left: 0px;
	width: 1920px;
	height: 568px;
}
#group_7 {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 11px;
}

#rectangle {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 11px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	transform:rotate(180deg);
	background:rgba(255,255,255,0);
	background: -webkit-linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
	background: -moz-linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(-180deg , rgba(112,198,219,1) 0%, rgba(0,0,0,1) 100%);
}

#copyright {
	top: 486.08px;
	left: px;
	width: 1920px;
	height: 81.92px;
}

#base_background {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 81.92px;
	background:rgba(0,0,0,1);
}


#title {
	top: 14px;
	left: 745px;
	width: 444px;
	height: 48px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 20px;
	text-align: left;
	line-height: 34.000000953674px;
	color:#FFFFFF;
}

#our_address {
	top: 56px;
	left: 1415px;
	width: 333px;
	height: 280px;
}

#french_450_resistencia__chaco___argentina {
	top: 85px;
	left: 0px;
	width: 321.33px;
	height: 93.99px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}

#social_media {
	top: 213px;
	left: 5px;
	width: 328px;
	height: 67px;
}
#button___normal_icon {
	top: 11.5px;
	left: 0px;
	width: 44px;
	height: 44px;
}
#normal_icon {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
}

#base_background_ek1 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
	-ms-border-radius: 22px / 22px;
	-o-border-radius: 22px / 22px;
	-moz-border-radius: 22px / 22px;
	-webkit-border-radius: 22px / 22px;
	border-radius: 22px / 22px;
	background:rgba(51,51,51,1);
}

#icons___facebook {
	top: 10px;
	left: 10px;
	width: 24px;
	height: 24px;
}

#brand___facebook {
	top: 2px;
	left: 2px;
	width: 20px;
	height: 19.88px;
}

#button___normal_icon_ek1 {
	top: 11.5px;
	left: 68px;
	width: 44px;
	height: 44px;
}
#normal_icon_ek1 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
}

#base_background_ek2 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
	-ms-border-radius: 22px / 22px;
	-o-border-radius: 22px / 22px;
	-moz-border-radius: 22px / 22px;
	-webkit-border-radius: 22px / 22px;
	border-radius: 22px / 22px;
	background:rgba(51,51,51,1);
}

#icons___instagram {
	top: 10px;
	left: 10px;
	width: 24px;
	height: 24px;
}

#brand___instagram {
	top: 3.01px;
	left: 3px;
	width: 18.01px;
	height: 18.04px;
}

#button___normal_icon_ek2 {
	top: 11.5px;
	left: 136px;
	width: 44px;
	height: 44px;
}
#normal_icon_ek2 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
}

#base_background_ek3 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
	-ms-border-radius: 22px / 22px;
	-o-border-radius: 22px / 22px;
	-moz-border-radius: 22px / 22px;
	-webkit-border-radius: 22px / 22px;
	border-radius: 22px / 22px;
	background:rgba(51,51,51,1);
}

#icons__twitter {
	top: 10px;
	left: 10px;
	width: 24px;
	height: 24px;
}

#brand___twitter {
	top: 4px;
	left: 1.54px;
	width: 20.92px;
	height: 17px;
}

#button___normal_icon_ek3 {
	top: 11.5px;
	left: 204px;
	width: 44px;
	height: 44px;
}
#normal_icon_ek3 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
}

#base_background_ek4 {
	top: 0px;
	left: 0px;
	width: 44px;
	height: 44px;
	-ms-border-radius: 22px / 22px;
	-o-border-radius: 22px / 22px;
	-moz-border-radius: 22px / 22px;
	-webkit-border-radius: 22px / 22px;
	border-radius: 22px / 22px;
	background:rgba(51,51,51,1);
}

#icons___youtube {
	top: 10px;
	left: 10px;
	width: 24px;
	height: 24px;
}

#brand___youtube {
	top: 5px;
	left: 1.99px;
	width: 20.01px;
	height: 14.01px;
}


#nuestra_direcci_n {
	top: 0px;
	left: 0px;
	width: 325px;
	height: 66px;
	overflow: hidden;
	font-family: Khula;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 38.999998569489px;
	color:#3D3D3D;
}

#contactos {
	top: 56px;
	left: 993px;
	width: 392px;
	height: 305px;
}

#contactanos_via_web {
	top: 96px;
	left: 0px;
	width: 227px;
	height: 76.63px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#tel__362_4665582 {
	top: 166px;
	left: 0px;
	width: 246px;
	height: 76.63px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#email__info_inmobiliariadomus_com_ar {
	top: 243px;
	left: 0px;
	width: 408px;
	height: 77px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#contacto {
	top: 0px;
	left: 0px;
	width: 241px;
	height: 92.11px;
	overflow: hidden;
	font-family: Khula;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 38.999998569489px;
	color:#3D3D3D;
}

#payment {
	top: 49px;
	left: 122px;
	width: 413px;
	height: 326px;
}
#form_elements___logo {
	top: 0px;
	left: 7px;
	width: 379px;
	height: 158.94px;
}

#logo3_2 {
	top: 0px;
	left: 0px;
	width: 340px;
	height: 118px;
}


#nos_comprometemos_a_materializar_el_hogar_de_sus_sue_os {
	top: 171px;
	left: 0px;
	width: 429px;
	height: 106px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}

#payments {
	top: 278px;
	left: 7px;
	width: 326px;
	height: 47.57px;
}
#paypal {
	top: 6.28px;
	left: 0px;
	width: 92px;
	height: 35px;
}
#group_6 {
	top: 5.83px;
	left: px;
	width: 92px;
	height: 24.79px;
}

#vector {
	top: 0px;
	left: 0px;
	width: 51.28px;
	height: 24.79px;
}


#vector_ek1 {
	top: 0px;
	left: 51px;
	width: 40.96px;
	height: 20.42px;
}

#visa {
	top: 6.28px;
	left: 116px;
	width: 75px;
	height: 35px;
}
#group_7_ek1 {
	top: 5.83px;
	left: 0px;
	width: 75px;
	height: 24.79px;
}

#polygon9 {
	top: 0px;
	left: 26px;
	width: 9.88px;
	height: 24px;
}


#path11 {
	top: 0px;
	left: 36px;
	width: 18.22px;
	height: 24.79px;
}


#path13 {
	top: 0px;
	left: 53px;
	width: 21.8px;
	height: 24px;
}


#path15 {
	top: 0px;
	left: 6px;
	width: 21.42px;
	height: 23.97px;
}


#path17 {
	top: 0px;
	left: 0px;
	width: 14.75px;
	height: 13.05px;
}

#mastercard {
	top: 6.28px;
	left: 215px;
	width: 51px;
	height: 35px;
}
#group_8 {
	top: 0px;
	left: 0px;
	width: 51px;
	height: 35px;
}
#group {
	top: 0px;
	left: 0px;
	width: 51px;
	height: 35px;
}

#vector_ek2 {
	top: 0px;
	left: 0px;
	width: 51px;
	height: 35px;
}


#vector_ek3 {
	top: 6px;
	left: 19px;
	width: 13.45px;
	height: 22.8px;
}


#vector_ek4 {
	top: 3px;
	left: 3px;
	width: 22.61px;
	height: 29px;
}


#vector_ek5 {
	top: 26px;
	left: 47px;
	width: 1.16px;
	height: 0.56px;
}


#vector_ek6 {
	top: 3px;
	left: 26px;
	width: 22.61px;
	height: 29px;
}

#about {
	top: 56px;
	left: 621px;
	width: 231px;
	height: 319px;
}

#m_todos_de_pago {
	top: 98px;
	left: 0px;
	width: 208px;
	height: 93.94px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#nuestro_equipo {
	top: 240px;
	left: 0px;
	width: 247px;
	height: 93.94px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


#sobre_nosotros {
	top: 0px;
	left: 0px;
	width: 241px;
	height: 111.74px;
	overflow: hidden;
	font-family: Khula;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 38.999998569489px;
	color:#3D3D3D;
}


#t_rminos_y_condiciones {
	top: 171px;
	left: 0px;
	width: 247px;
	height: 93.94px;
	overflow: hidden;
	font-family: Nunito Sans;
	font-size: 22px;
	text-align: left;
	line-height: 37.400001049042px;
	color:#FFFFFF;
}


/* Add your custom CSS here */
